.footer-render {
  background: #414042 !important;
}

footer .page-footer {
  background: #414042 !important;
}

footer .contact-list {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

footer .contact-list li {
  padding-bottom: 20px;
}

footer .contact-list a {
  color: rgb(80, 227, 194);
}

footer .social-media {
  display: flex;
  flex-direction: row;
}

footer .social-media li {
  padding-right: 20px;
}

footer .page-footer .col {
  width: 100% !important;
}
