.horizontal-line {
  position: relative;
}

.alt-horizontal-line {
  position: relative;
}

.horizontal-line:after {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #414042;
  z-index: 99;
}

.alt-horizontal-line:after {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: white;
  z-index: 99;
}
