.slider-render .slider {
}
.slider .slides {
  background: none !important;
}
.slider .indicators .indicator-item.active {
  background: rgb(80, 227, 194) !important;
}

.slider .indicators {
  text-align: left !important;
}
